// This file doesn't generate any css
@mixin button {
  --color         : var(--first-color);
  --color-alt     : var(--first-color-alt);
  display         : inline-block;
  padding         : 1em 2em;
  background      : var(--color);
  color           : #FFF;
  margin-right    : 1rem;
  margin-bottom   : 1rem;
  cursor          : pointer;
  text-decoration : none;
  line-height     : inherit;
  border-radius   : .25rem;
  transition      : transform .05s;
  border          : none;
  text-align      : center;

  &:hover {
    background      : var(--color-alt);
    text-decoration : inherit;
  }

  &:active {
    transform : scale(.99)
  }
}

@mixin button-small {
  padding   : .5rem 1rem;
  font-size : fontSize(small);
}

@mixin button-tiny {
  padding   : .25rem .5rem;
  font-size : fontSize(small);
}

@mixin button-center {
  display      : table;
  margin-left  : auto;
  margin-right : auto;
}

@mixin button-full {
  margin-right : 0;
  margin-left  : 0;
  width        : 100%;
}

@mixin button-last {
  margin-right : 0;
}

@mixin button-secondary {
  --color     : var(--second-color);
  --color-alt : var(--second-color-alt);
}

@mixin button-alert {
  --color     : var(--third-color);
  --color-alt : var(--third-color-alt);
}

@mixin button-cta {
  --color     : var(--accent-color);
  --color-alt : var(--accent-color-alt)
}

@mixin button-dark {
  --color     : var(--dark-color);
  --color-alt : var(--dark-color-alt);
}

@mixin button-light {
  --color     : var(--body-bg);
  --color-alt : var(--border-color);
}

@mixin button-ghost {
  --color    : var(--first-color);
  color      : var(--color);
  background : none;
  border     : 1px solid;

  &:hover {
    background   : var(--color);
    color        : #FFF;
    border-color : transparent;
  }
}

@mixin button-ghost-alert {
  --color : var(--third-color);
}

@mixin button-ghost-secondary {
  --color : var(--second-color);
}

@mixin button-ghost-cta {
  --color : var(--accent-color);
}

@mixin button-ghost-dark {
  --color : var(--dark-color);
}

@mixin button-ghost-light {
  --color : var(--border-color);
}
