// Colors
$firstColor : #007BDF;
$firstColorAlt : #006DC6;
$secondColor : #00CBFF;
$secondColorAlt : #00BFF0;
$thirdColor : #FF3C32;
$thirdColorAlt : #FF2419;
$accentColor : #FBA905;
$accentColorAlt : #F1A000;
$darkColor : #282D31;
$darkColorAlt : #141618;
$borderColor : #DFE0E0;
$textColor : #53575A;
$bodyBg : #FAFDFF;

// Settings for EDgrid
$dev        : false;
$cssCore    : false;
$cssHelpers : true;
$max-width  : 1344px;
$gutter     : 1rem;

//layout
:root {
  --header-height : 3rem;
  --max-width     : 1344px;
  --gutter        : 1rem;
}

// z-ndex
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 1000;

:root {
  --z-back    : -10;
  --z-normal  : 1;
  --z-tooltip : 10;
  --z-fixed   : 100;
  --z-modal   : 1000;
}

// Images path
$images-path: 'https://ux.ed.team/img';
