$dev: false;
$cssCore: false;
$cssHelpers: true;

// font sizes:
$fontSizeBase: 1.15em !default; // Lato is a small font, need 1.15em = 18.4px for legibility
$fontSizeRatio: 1.3;

// Breakpoint para tamaño movil
$mobileBreakpoint: 1024px;

// Typography
$body-font: Lato, 'sans-serif'; // only 400 and 400i
$header-font: 'Open Sans', 'sans-serif'; // only 700

//$fontSizes: (
//  bigger  : $fontSizeBase * pow($fontSizeRatio,4),
//  t1      : $fontSizeBase * pow($fontSizeRatio,3),
//  t2      : $fontSizeBase * pow($fontSizeRatio,2),
//  t3      : $fontSizeBase * pow($fontSizeRatio,1),
//  normal  : $fontSizeBase,
//  small   : $fontSizeBase * 0.85,
//  smaller : $fontSizeBase * 0.8,
//);

$fontSizes: (
  bigger  : rem(42px),
  t1      : rem(36px),
  t2      : rem(30px),
  t3      : rem(24px),
  normal  : rem(18px),
  small   : rem(15px),
  smaller : rem(13px),
);


// Colors
$firstColor  : #1d73c9;
$secondColor : #25c9ff;
$thirdColor  : #ce4139;
$accentColor : #fba905;
$darkColor   : #282d31;

// Complementary colors:
$borderColor: rgba($darkColor,.1);
$textColor: rgba($darkColor,.8);
