$dev        : false;
$cssCore    : false;
$cssHelpers : true;

// Typography
$body-font   : Lato, 'sans-serif'; // only 400 and 400i
$header-font : 'Open Sans', 'sans-serif'; // only 700

$fontSizes: (
  bigger  : rem(42px),
  t1      : rem(36px),
  t2      : rem(30px),
  t3      : rem(24px),
  normal  : rem(18px),
  small   : rem(15px),
  smaller : rem(13px),
);

// Colors
$firstColor  : #007BDF;
$secondColor : #00CBFF;
$thirdColor  : #FF3C32;
$accentColor : #FBA905;
$darkColor   : #282D31;

// Complementary colors:
$borderColor : #DFE0E0;
$textColor   : #53575A;
$bodyBg      : #FCFCFC;

// Map zIndex
$z-index: (
  back    : -10,
  normal  : 1,
  tooltip : 10,
  fixed   : 100,
  modal   : 1000
);
