/*
  This boilerplate is based in ITCSS and SMACSS
*/

// Config
@import "config/variables";

// Mixins
@import "config/mixins";
@import "config/typography";
@import "config/buttons";

// Libraries
@import "ed-grid/ed-grid";

// Base and elements (generic)
@import "base/base";

// LAYOUT
  // Escribe solo los estilos de layout (division en regiones del viewport)
@import "layout/layout";

// MODULOS (SMACSS) O COMPONENTES (ITCSS)
  // Son los elementos de UI de tu interfaz, como botones, tablas, menus, etc.
  // Crea los archivos adicionales que necesites (uno por componente)
@import "components/icons";
@import "components/buttons";
@import "components/main-menu";
@import "components/vertical-menu";
@import "components/logo";
@import "components/lists";
@import "components/code";
@import "components/helpers";
@import "components/tables";
@import "components/forms";
@import "components/cards";
@import "components/post";
@import "components/main-banner";
@import "components/topbar";

// Theme (colors and fonts)
@import "theme/typography";
@import "theme/colors";

// Utilities (hacks)
  // Todos los hacks que hayas necesitado para solucionar conflictos
  // o resolver situaciones extremas. Se espera poder mejorarlos luego.
@import "hacks/hacks";

