extends /pug/includes/template
append config
  -currentPage = 'banner'

block banner
  block banner
    +banner("https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", 'Banner', 'Hola mundo', 'tertiary', true)

block main
  p El banner es la caja grande con inclinación inferior que aparece inmediatamente debajo del header del sitio.
  p Su estructura es la siguiente:

  :markdown-it(html)
    ```html
    <div class="main-banner img-container" id="main-banner">
      <div class="ed-grid lg-grid-6">
        <div class="lg-cols-4 lg-x-2">
          <img class="main-banner__img" src="tu-imagen.jpg">
          <div class="main-banner__data s-center">
            <p class="t2 s-mb-0">Título del banner</p>
            <p> Subtítulo del banner</p>
            <a href="#" class="button">Botón del banner</a>
          </div>
        </div>
      </div>
    </div>
    ```

    * Agregue la clase `diagonal` para crear el banner diagonal clásico de EDteam
    * Agregue las clases `first-color`, `second-color`, `third-color`, `accent-color` o `dark-color` para darle el color indicado.
    * El color del botón (si lo hubiera) cambiará automáticamente segun el color elegido, pero puede usar clases para definir el tipo de botón que prefiera.
