extends ../includes/template
append config
  -currentPage = 'botones'

block banner
  block banner
    +banner("https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", 'Botones', '', 'accent')

block main
  p Los botones usan la clase <code>button</code> o alguna variacion de <code>button--</code>. En
    |  los siguientes botones se indica las clases que debe llevar
  p.show-buttons
    a.button.center .button.center
    a.button.full .button.full
    a.button .button
    a.button--alert .button--alert
    a.button--cta .button--cta
    br
    a.button--ghost .button--ghost
    a.button--ghost--alert .button--ghost--alert
    a.button--ghost--cta .button--ghost--cta

  p Si se necesita un grupo de botones centrados, basta agruparlos en un contedor
    | que tenga la propiedad <code>text-align:center</code> o la clase
    | <code>center</code>. Ejemplo:

  .center.show-buttons.l-block
    a.button--tertiary .button--tertiary
    a.button--cta .button--cta

  p Tenga en cuenta que no necesita agregar dos clases para variaciones estilo BEM:
  ul
    li <code>.button.button--secondary</code> Incorrecto
    li <code>.button--secondary</code> Correcto

  p Puede cambiar el tamaño de los botones usandolas clases de <a href="/tipografia.html">tamaños de tipografía</a>. Ejemplos:

  p.show-buttons
    a.button.big .button.big
    a.button--cta .button--cta
    a.button--alert.small.l-block .button--alert.small

  h2 Button small y button tiny
  p Las variaciones <code>button--smal</code> y <code>button--tiny</code> tienen menor padding para ajustarse a tamaños pequeños. Además tienen 14px como tamaño de fuente (small).

  p.show-buttons
    a.button--alert .button--alert
    a.button--alert.small .button--alert.small
    a.button--alert.button--small .button--alert.button--small
    a.button--alert.button--tiny .button--alert.button--tiny
    br
    a.button--ghost .button--ghost
    a.button--ghost.small .button--ghost.small
    a.button--ghost.button--small .button--ghost.button--small
    a.button--ghost.button--tiny .button--ghost.button--tiny
