extends /pug/includes/template
append config
  -currentPage = 'botones'

block banner
  block banner
    +banner("https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", 'Botones', '', 'accent')

block main
  :markdown-it
    Los botones se obtienen con la clase `button`.

    ```markup
    <a class="button">Soy un botón</a>
    ```

  .button Soy un botón

  :markdown-it
    Puede usar varios botones juntos. Las separaciones ya están listas.

    ```markup
      <a class="button">Soy un botón</a>
      <a class="button">Soy un segundo botón</a>
    ```

  .l-block
    .button Soy un boton
    .button Soy un segundo boton

  h2 Colores de los botones

  :markdown-it
    Use las clases `button--second`, `button--alert`, `button--cta`, `button--dark` y `button--light` para obtener botones con los colores de EDteam. Por defecto, la clase `.button` da un botón azul.

    ```markup
    <a class="button">Botón por defecto</a>
    <a class="button--second">Botón secundario</a>
    <a class="button--alert">Botón de alerta</a>
    <a class="button--cta">Botón de llamado a la acción</a>
    <a class="button--dark">Botón oscuro</a>
    <a class="button--light">Botón claro</a>
    ```

  .l-block
    a.button Botón por defecto
    a.button--second Botón secundario
    a.button--alert Botón de alerta
    a.button--cta Botón de llamado a la acción
    a.button--dark Botón oscuro
    a.button--light Botón claro

  h2 Alinear botones
  :markdown-it
    La alineación de los botones depende del elemento padre pues se comportan como texto. Es decir, si el elemento padre tiene la propiedad `text-align: right` el botón (o botones) se alinearán a la derecha. Esta guia de estilos tiene la clase `.center` que centra todo el contenido del elemento. Ejemplo:

    ```markup
    <div class="center">
      <div class="button">Soy un boton</div>
      <div class="button">Soy otro boton</div>
      <div class="button">Soy un tercer boton</div>
    </div>
    ```

  .center
    .button Soy un boton
    .button Soy otro boton
    .button Soy un tercer boton

  :markdown-it
    Si desea centrar un único boton, puede agregarle la clase `.center`

    ```markup
    <a class="button center">Soy un botón centrado</a>
    ```

  .button.center Soy un botón centrado

  :markdown-it
    Los botones tiene un margin a la derecha y hacia abajo de `1rem` por defecto. Sin embargo, de un grupo de botones el último no tiene el margen derecho. Si desea forzar el borrado de ambos márgenes en un botón específico use la clase `.last`

    ```markup
    <div class="button">Soy un boton</div>
    <div class="button">Soy otro boton</div>
    <div class="button last">Soy un tercer boton sin margenes</div>
    ```

  .button Soy un botón
  .button Soy otro botón
  .button.last Soy un tercer botón sin márgenes

  :markdown-it
    Si desea que un botón ocupe todo el ancho disponible, agregue la clase `.full`

    ```markup
     <a class="button full">Soy un botón full</a>
     ```

  .l-block
    .button.full Soy un botón full

  h2 Botones fantasma (ghost)

  :markdown-it
    Los botones fantasma tienen fondo transparente y solo constan de borde y texto. Se usa la clase `button--ghost`. Ejemplo:

    ```markup
    <a class="button--ghost">Soy un botón fantasma</a>
    ```

  .button--ghost Soy un botón fantasma

  :markdown-it
    Para conseguir los colores, use las clases `button--ghost-second`, `button--ghost-alert`, `button--ghost-cta`, `button--ghost-dark` y `button--ghost-light` (este último es blanco, úselo sobre fondos oscuros).

    ```markup
    <a class="button--ghost-second">Secundario</a>
    <a class="button--ghost-alert">Alerta</a>
    <a class="button--ghost-cta">Llamado a la acción</a>
    <a class="button--ghost-dark">Oscuro</a>
    <a class="button--ghost-light">Claro</a>
    ```

  .l-block
    a.button--ghost-second Secundario
    a.button--ghost-alert Alerta
    a.button--ghost-cta Llamado a la acción
    a.button--ghost-dark Oscuro
    a.button--ghost-light Claro

  h2 Tamaños de los botones

  :markdown-it
    Usando las clases `.big`, `.small` y `.tiny` al botón (ya sea normal o fantasma) puede variar su tamaño.

    ```markup
    <a class="button big">Boton grande</a>
    <a class="button--cta">Botón normal</a>
    <a class="button--alert small">Boton pequeño</a>
    <a class="button--dark tiny">Botón diminuto</a>
    ```


  a.button.big Botón grande
  a.button--cta Botón normal
  a.button--alert.small Botón pequeño
  a.button--dark.tiny Botón diminuto

  :markdown-it
    ```markup
      <a class="button--ghost big">Boton grande</a>
      <a class="button--ghost-cta">Botón normal</a>
      <a class="button--ghost-alert small">Boton pequeño</a>
      <a class="button--ghost-dark tiny">Botón diminuto</a>
    ```

  .l-block
    a.button--ghost.big Botón grande
    a.button--ghost-cta Botón normal
    a.button--ghost-alert.small Botón pequeño
    a.button--ghost-dark.tiny Botón diminuto

  h2 Uso de los colores

  :markdown-it
    Los colores de los botones deben respetar las siguientes guias

    * El botón por defecto (azul) es para acciones predeterminadas como envios de formularios
    * El botón rojo (normal o fantasma) es para indicar otro tipo de acciones, como compras.
    * El boton amarillo (normal o fantasma) es para llamados a la acción como descuentos, suscripciones, ofertas, etc.

    Los otros botones: celeste (second), gris oscuro (dark) y blanco (light) sí pueden usarse con fines decorativos.

  h2 Colores de botones heredados

  :markdown-it
    Gracias a las **Variables CSS** los botones (y otros elementos) pueden heredar los colores de sus ancestros.

    Por ejemplo, un botón con la clase `button` o `button--ghost` (sin variación de color) puede cambiar de color si su padre tiene alguna de las siguientes clases: `color-second`, `color-third`, `color-accent`, `color-dark` o `color-light`. Por ejemplo:

    ```markup
    <div class="color-third">
      <a class="button--ghost">Inscríbete ahora</a>
    </div>
    ```

  .color-third
    .button--ghost Inscríbete ahora

  :markdown-it
    ```markup
    <div class="color-accent">
      <a class="button">Ver planes</a>
    </div>
    ```

  .color-accent.l-block
    .button Ver planes

  h2 Boton cancelar

  :markdown-it
    Úselo en cuadros de diálogo o modales para mostrar la opción secundaria como **Cancelar**, **Eliminar** , etc.

    ```markup
    <a class="button--cancel">Cancelar</a>
    ```

  .button--cancel Cancelar
