extends ../includes/template
append config
  -currentPage = 'botones'

block banner
  block banner
    +banner("https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", 'Botones', '', 'accent')

block main
  p Los botones usan la clase <code>button</code> o alguna variacion de <code>button--</code>. En
    |  los siguientes botones se indica las clases que debe llevar
  .show-buttons
    a.button.center class="button center"
    a.button.full class="button full"
    a.button class="button"
    a.button--secondary class="button--secondary"
    a.button--tertiary class="button--tertiary"
    a.button--cta class="button--cta"
    a.button--dark class="button--dark"

    a.button--ghost class="button--ghost"
    a.button--ghost--secondary class="button--ghost--secondary"
    a.button--ghost--tertiary class="button--ghost--tertiary"
    a.button--ghost--cta class="button--ghost--cta"
    a.button--ghost--dark class="button--ghost--dark"

  p Si se necesita un grupo de botones centrados, basta agruparlos en un contedor
    | que tenga la propiedad <code>text-align:center</code> o la clase
    | <code>center</code>. Ejemplo:

  .center.show-buttons
    a.button--tertiary class="button--tertiary"
    a.button--cta class="button--cta"

  p Tenga en cuenta que no necesita agregar dos clases para variaciones estilo BEM:
  ul
    li <code>class="button button--secondary"</code> Incorrecto
    li <code>class="button--secondary"</code> Correcto

  p Para cambiar el tamaño de los botones basta cambiar el tamaño de la fuente, por lo
    | que pueden usarse las clases indicadas en la sección de <a href="tipografia.html">tipografia</a>. Ejemplos:

  .show-buttons
    a.button--cta.smaller class="button--cta smaller"
    a.button--cta.small class="button--cta small"
    a.button--cta class="button--cta"

  h2 Button small
  p La variación <code>button--small</code> tiene menor padding para ajustarse a tamaños pequeños de fuente. Compare:

  .show-buttons
    a.button--cta.smaller class="button--cta smaller"
    a.button--cta.smaller.button--small class="button--cta button--small smaller"
    a.button--cta.small class="button--cta smaller"
    a.button--cta.small.button--small class="button--cta button--small smaller"
