

extends ../includes/template
append config
  -currentPage = 'cards'

mixin card
  .card
    .card__img
      img(src="https://ed.team/sites/default/files/styles/16_9_large/public/2017-10/npm_0.jpg")
    .card__content
      .card__title Título de la tarjeta
      .card__subtitle
        p Subtitulo de la tarjeta
      .card__body
        p Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas no requieren contenido pero otras sí.
      footer.card__footer
        .card__user
          .card__user-img
            img(src="https://ed.team/sites/default/files/styles/thumbnail/public/pictures/2017-11/alexys_0.jpg?itok=MMRiEdrl")
          .card__user-name
            a(href="#") Alexys Lozada
        .card__button
          a(href="#").button--ghost--tertiary.button--small Etiqueta

block banner
  block banner
    +banner("https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", 'Cards', '', 'accent')

block main
  p Las tarjetas se usan para mostrar contenido resumido o destacado del resto. Por ejemplo, una cuadricula con posts recientes o un curso en el catalogo.

  .ed-container
    .ed-item.l-50
      +card
    .ed-item.l-50
      +card

  p Su estructura es la siguiente (por comodidad en formato .pug)
  pre
    code.language-pug
      |.card
      |  .card__img
      |    img(src="imagen.jpg")
      |  .card__content
      |    .card__title Título de la tarjeta
      |    .card__subtitle
      |      p Subtitulo de la tarjeta
      |    .card__body
      |      p Este el contenido de la tarjeta en caso lo requiera. Algunas tarjetas (...).
      |    footer.card__footer
      |      .card__user
      |        .card__user-img
      |          img(src="usuario.jpg")
      |        .card__user-name
      |          a(href="#") Alexys Lozada
      |      .card__button
      |        a(href="#").button--ghost--tertiary.button--small Etiqueta

  h2 Minicards de cursos
  p Se usan para mostrar información de los cursos en páginas internas sin entorpecer la experiencia de usuario.

  .l-1-3.to-center
    .card.card--mini
      .card__img
        img(src="https://ed.team/sites/default/files/styles/medium/public/courses/images/poster-drupal-theming_1.png?itok=LoJWeH01")
      .card__content
        .card__title Título de la tarjeta
        .card__body
          p Crea sitios profesionales y escalables con el CMS más poderoso del mercado.
        footer.card__footer
          .card__user
            .card__user-img
              img(src="https://ed.team/sites/default/files/styles/thumbnail/public/pictures/2017-11/alexys_0.jpg?itok=MMRiEdrl")
            .card__user-name
              a(href="#") Alexys Lozada
          .card__button
            a(href="#").button--cta.small Inscríbete

  .l-75.to-center
    .card.card--mini-horizontal
      .card__img
        img(src="https://ed.team/sites/default/files/styles/medium/public/courses/images/poster-drupal-theming_1.png?itok=LoJWeH01")
      .card__content
        .card__title Título de la tarjeta
        .card__body
          p Crea sitios profesionales y escalables con el CMS más poderoso del mercado.
        footer.card__footer
          .card__user
            .card__user-img
              img(src="https://ed.team/sites/default/files/styles/thumbnail/public/pictures/2017-11/alexys_0.jpg?itok=MMRiEdrl")
            .card__user-name
              a(href="#") Alexys Lozada
          .card__button
            a(href="#").button--cta.small Inscríbete

  p Su estructura es la siguiente:

  pre
    code.language-pug
      |.card.card--mini
      |  .card__img
      |    img(src="imagen.jpg")
      |  .card__content
      |    .card__title Título de la tarjeta
      |    .card__body
      |      p Crea sitios profesionales y escalables con el CMS más poderoso del mercado.
      |    footer.card__footer
      |      .card__user
      |        .card__user-img
      |          img(src="user.jpg")
      |        .card__user-name
      |          a(href="#") Alexys Lozada
      |      .card__button
      |        a(href="#").button--cta.small Inscríbete

  p La minicard usa la clase modificadora (BEM) <code>card--mini</code>. Para una minicard horizontal use la clase <code>card--mini-horizontal</code>. No necesita cambiar la estructura HTML.
