extends /pug/includes/template
append config
  -currentPage = 'formularios'

block banner
  block banner
    +banner("https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", 'Formularios', '', 'tertiary')

block main
  h1 Formularios
  p Para maquetar formularios utilice EDgrid, aplicando la clase <code>ed-container</code> a la etiqueta <code>form</code>
    | y encerrando los componentes del formulario dentro de los <code>ed-item</code> que se requieran.
  p Se recomienda usar label o placeholder, pero no ambos.
  p Los inputs de tipo radio o checbox deben ser hijos directos de la etiqueta <code>label</code>
  p Use la clase <code>form__item</code> o <code>form-item</code> para encerrar los campos y crear las separaciones verticales.

  h2 Modelo de formulario
  form
    .ed-container
      .ed-item.l-40.form__item
        label Nombre de usuario
        input(type="text")
      .ed-item.l-60.form__item
        label Contraseña
        input(type="password")
      .ed-item.form__item
        label Alias (Disabled)
        input(type="text" disabled)
      .ed-item.l-30.form__item
        p.small Ejemplos de checkbox
        label
          input(type="checkbox")
          | Elige esta opcion
        label
          input(type="checkbox")
          | Elige esta opcion
      .ed-item.l-70.form__item
        p.small Ejemplos de radio buttons
        label
          input(type="radio" name="radio")
          | Elige esta otra opcion
        label
          input(type="radio" name="radio")
          | Elige esta otra opcion
      .ed-item.form__item
        label Selecciona tu país
        select
          option Colombia
          option Bolivia
          option Argentina
          option Perú
          option México
      .ed-item.form__item
        textarea(placeholder="Escriba su mensaje")
      .ed-item.form__item
        input(type="submit" value="Enviar").button.full.small
