extends /pug/includes/template
append config
  -topicsMenu = false
  -currentPage = 'foro'

block main
  //- Usuarios destacados
  section.top-user.l-section.ed-grid.grid-gap.gap-2
    -for(let i = 0; i < 10; i++)
      +top-user
  //- Publicaciones destacadas
  section.ed-grid.l-section
    h2.t3.foro-title Publicaciones destacadas
    .featured-publication.scroll.lg-pb-2
      .featured-publication__container
        -for(let i = 0; i < 12; i++)
          +featured-publication(true)
  //- Publicaciones
  .ed-grid.cols-l-4
    section.span-l-3.lg-mb-0
      main.l-section
        h2.t3.foro-title Últimas publicaciones
        div
          -for (let i = 0; i < 5; i++)
            - let fixed = i === 0 ? 'publication--fixed' : ''
              +publication(class=fixed)
      //- Paginación
      +pagination
    //- Sidebar categorías destacadas
    .span-l-1
      +foro-sidebar("Categorías destacadas", true)
