extends ../includes/template
append config
  -currentPage = 'inicio'
block main
  h1 EDteam Style Guide
  p Esta guia define el concepto visual, patrones de diseño y estructura para proyectos web en EDteam.
  p Esta guia se encuentra en constante actualización.

  h2 Colores

  .colors
    .color
      .color__sample.color--primary
      .color__info.smaller
        p.color__name Principal
        p.color__code #007BDF

    .color
      .color__sample.color--secondary
      .color__info.smaller
        p.color__name Secundario
        p.color__code #00CBFF

    .color
      .color__sample.color--tertiary
      .color__info.smaller
        p.color__name Terciario
        p.color__code #FF3C32

    .color
      .color__sample.color--accent
      .color__info.smaller
        p.color__name Enfasis
        p.color__code #FBA905

    .color
      .color__sample.color--dark
      .color__info.smaller
        p.color__name Oscuro
        p.color__code #282D31

    .color
      .color__sample.color--border
      .color__info.smaller
        p.color__name Bordes
        p.color__code #DFE0E0

    .color
      .color__sample.color--text
      .color__info.smaller
        p.color__name Texto
        p.color__code #53575A

    .color
      .color__sample.color--body
      .color__info.smaller
        p.color__name Body bg
        p.color__code #FCFCFC

  h2 Tipografía

  p EDteam utiliza dos familias tipográficas en web, logotipo, posters y demás elementos gráficos

  ul.data-list
    li
      strong Open Sans (700)
      br
      span.small Encabezados (h1,h2...h6), logo de EDteam y otros logos (EDgrid p.ej.)
    li
      strong Lato (400, 400i, 700)
      br
      span.small Contenidos, párrafos.

  p En la sección de <a href="tipografia.html">tipografía</a> se explica detalladamente su uso.
