extends /pug/includes/template
mixin color(cname,code,sassName,cssName)
  .color
    div(class="color__sample " + sassName)
    .color__info.smaller
      p.color__name= cname
      p.color__code= code
      p.color__code Sass name: <code>$#{sassName}</code>
      p.color__code CSS name: <code>--#{cssName}</code>

append config
  -currentPage = 'inicio'
block banner
  +banner("https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", 'EDteam Styleguides', 'La presente guía de estilos define los componentes de diseño de EDteam y cómo implementarlos en nuestros productos.', '', true, false)
block main
  p Esta guia define el concepto visual, patrones de diseño y estructura para proyectos web en EDteam.
  p Esta guia se encuentra en constante actualización.
