extends /pug/includes/template
append config
  -currentPage = 'plans'
  -topicsMenu = false

block banner
  .alt-banner.color-second
    .ed-grid.cols-l-2
      .alt-banner__data
        h2 Tu futuro comienza hoy
        p
          | EDteam te ayuda a dominar la tecnología con cursos de programación, diseño y emprendimiento en español, con profesores que aman enseñar y rutas de aprendizaje detalladas.
          br
          | No esperes a mañana para conquistar tus sueños. Tu futuro te está esperando.
        .button--ghost.small Comienza gratis
      .alt-banner__caption
        i "Gracias a lo que aprendí en EDteam pude viajar a Sillicon Valley"
        br
        | - Joan Serna
        br
        span Leer testimonio

block main
  .ed-grid.cols-l-2.l-section.landing-section
    img(src="img/mi-momento-ha-llegado.jpg")
    article
      h2 Tu momento ha llegado
      p La Hackaton EDteam es un concurso online que busca la creación de proyectos de tecnología que solucionen un problema de la ciudadanía utilizando datos públicos porporcionados por los gobiernos de los diferentes paises. Estos datos pueden consumirse online a través de programación o descargarlos y llevarlos a un programas de escritorio (Excel, p.ej.) para analizarlos y proponer una solución.

      p Los grupos participantes deben entregar un MVP (mínimo proyecto viable) que muestre qué problema intentan solucionar y de qué manera. Durante el desarrollo de la hackatón, todos los participantes recibirán asesoría en sus proyectos por parte del staff de EDteam.

      .button--ghost Lee las bases del concurso

  .ed-grid.cols-l-2.l-section.landing-section
    img(src="img/mi-momento-ha-llegado.jpg")
    article
      h2 Tu momento ha llegado
      p La Hackaton EDteam es un concurso online que busca la creación de proyectos de tecnología que solucionen un problema de la ciudadanía utilizando datos públicos porporcionados por los gobiernos de los diferentes paises. Estos datos pueden consumirse online a través de programación o descargarlos y llevarlos a un programas de escritorio (Excel, p.ej.) para analizarlos y proponer una solución.

      .button--ghost Lee las bases del concurso

  .ed-grid
    h2 Preguntas frecuentes

    details
      summary ¿Cuáles son los premios?
      p La Hackaton EDteam es un concurso online que busca la creación de proyectos de tecnología que solucionen un problema de la ciudadanía utilizando datos públicos porporcionados por los gobiernos de los diferentes paises. Estos datos pueden consumirse online a través de programación o descargarlos y llevarlos a un programas de escritorio (Excel, p.ej.) para analizarlos y proponer una solución.

    details
      summary ¿Cuáles son los premios?
      p La Hackaton EDteam es un concurso online que busca la creación de proyectos de tecnología que solucionen un problema de la ciudadanía utilizando datos públicos porporcionados por los gobiernos de los diferentes paises. Estos datos pueden consumirse online a través de programación o descargarlos y llevarlos a un programas de escritorio (Excel, p.ej.) para analizarlos y proponer una solución.

    details
      summary ¿Cuáles son los premios?
      p La Hackaton EDteam es un concurso online que busca la creación de proyectos de tecnología que solucionen un problema de la ciudadanía utilizando datos públicos porporcionados por los gobiernos de los diferentes paises. Estos datos pueden consumirse online a través de programación o descargarlos y llevarlos a un programas de escritorio (Excel, p.ej.) para analizarlos y proponer una solución.


