extends /pug/includes/template
append config
  -topicsMenu = false
  -currentPage = 'foro'

block main
  main.ed-container.l-section.l-section--main
    .ed-grid.cols-l-4
      section.span-l-3
        +publication(true)
          section.section-comments
            +comment('comment')
            +comment('answered')
              section.l-block.section-answer
                +comment(class="comment--best-answer")
                +comment
                +editor
            section#form-editor
              h3 Escribir una respuesta
              +editor(true)

      .span-l-1
        +foro-sidebar("Publicaciones destacadas")
        +foro-sidebar("Publicaciones relacionadas")
