extends ../includes/template

append config
  -currentPage = 'tipografia'
block banner
  block banner
    +banner("https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", 'Tipografía', '', 'tertiary')

block main
  p EDteam utiliza dos familias tipográficas:
  ul
    li
      strong Open Sans (700)
      |  para los títulos
    li
      strong Lato (400,400i)
      |  para los contenidos

  ul.data-list
    li
      div: h1 Título 1 <span class="from-l">(36px/1.3)</span> <span class="to-l">(30px/1.3)</span>
      div: p
        code &lt;h1&gt;&lt;/h1&gt;
        code class="t1"

    li
      div: h2 Titulo 2 <span class="from-l">(30px/1.3)</span><span class="to-l">(24px/1.3)</span>
      div: p
        code &lt;h2&gt;&lt;/h2&gt;
        code class="t2"

    li
      div: h3 Título 3 <span class="from-l">(24px/1.3)</span><span class="to-l">(20px/1.3)</span>
      div: p
        code &lt;h3&gt;&lt;/h3&gt;
        code class="t3"

    li
      div: h4 Título 4 (20px/1.3)
      div: p
        code &lt;h4&gt;&lt;/h4&gt;
        code class="normal"

    li
      div: h5 Título 5 (16px/1.3)
      div: p
        code &lt;h5&gt;&lt;/h5&gt;
        code class="small"

    li
      div: h6 Título 6 (14px/1.3)
      div: p
        code &lt;h6&gt;&lt;/h6&gt;
        code class="smaller"

  h2 Parrafo normal (Lato 20px / 1.6)
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas feugiat dolor. Quisque eget eros quis neque egestas ultricies. Aliquam porttitor metus ut egestas consequat. Nullam vel dui in justo scelerisque egestas. Cras non facilisis justo. Nunc in faucibus risus. Pellentesque felis diam, condimentum vitae mattis ut, sollicitudin a libero. Pellentesque malesuada pharetra justo, nec fringilla tortor adipiscing at. Maecenas accumsan, enim id mattis blandit, urna enim bibendum est, at volutpat massa neque vitae libero. Phasellus cursus leo hendrerit neque consequat gravida.

  h3 Parrafo pequeño (Lato 16px / 1.6)
  p.small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas feugiat dolor. Quisque eget eros quis neque egestas ultricies. Aliquam porttitor metus ut egestas consequat. Nullam vel dui in justo scelerisque egestas. Cras non facilisis justo. Nunc in faucibus risus. Pellentesque felis diam, condimentum vitae mattis ut, sollicitudin a libero. Pellentesque malesuada pharetra justo, nec fringilla tortor adipiscing at. Maecenas accumsan, enim id mattis blandit, urna enim bibendum est, at volutpat massa neque vitae libero. Phasellus cursus leo hendrerit neque consequat gravida.

  h4 Parrafo más pequeño (Lato 14px / 1.6)
  p.smaller Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas feugiat dolor. Quisque eget eros quis neque egestas ultricies. Aliquam porttitor metus ut egestas consequat. Nullam vel dui in justo scelerisque egestas. Cras non facilisis justo. Nunc in faucibus risus. Pellentesque felis diam, condimentum vitae mattis ut, sollicitudin a libero. Pellentesque malesuada pharetra justo, nec fringilla tortor adipiscing at. Maecenas accumsan, enim id mattis blandit, urna enim bibendum est, at volutpat massa neque vitae libero. Phasellus cursus leo hendrerit neque consequat gravida.

  h2 Blockquote
  blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas feugiat dolor. Quisque eget eros quis neque egestas ultricies. Aliquam porttitor metus ut egestas consequat. Nullam vel dui in justo scelerisque egestas. Cras non facilisis justo. Nunc in faucibus risus. Pellentesque felis diam, condimentum vitae mattis ut, sollicitudin a libero. Pellentesque malesuada pharetra justo, nec fringilla tortor adipiscing at.

  h2 Enlaces
  p Lorem ipsum dolor sit amet, <a href="https://ed.team" target="_blank">consectetur adipiscing elit</a>. Aenean egestas feugiat dolor. Quisque eget eros quis neque egestas ultricies. Aliquam porttitor metus ut egestas consequat. Nullam vel dui in justo scelerisque egestas. <a href="https://ed.team" target="_blank">Cras non facilisis justo. Nunc in faucibus risus.</a> Pellentesque felis diam, condimentum vitae mattis ut, sollicitudin a libero. Pellentesque malesuada pharetra justo, nec fringilla tortor adipiscing at. Maecenas accumsan, enim id mattis blandit, urna enim bibendum est, at volutpat massa neque vitae libero. Phasellus cursus leo hendrerit neque <a href="https://ed.team" target="_blank">consequat</a> gravida.
