extends ../includes/template

append config
  -currentPage = 'tipografia'
block banner
  block banner
    +banner("https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", 'Tipografía', '', 'tertiary')

block main
  p EDteam utiliza dos familias tipográficas:
  ul
    li
      strong Open Sans (700)
      |  para los títulos
    li
      strong Lato (400,400i)
      |  para los contenidos
  p Y los siguientes tamaños de fuente que se pueden conseguir con los elementos o clases indicados:

  ul.data-list
    li
      div: .biggest Biggest <span class="from-l">(36px)</span> <span class="to-l">(24px)</span>
      div: p
        code &lt;h1&gt;&lt;/h1&gt;
        code .t1 .biggest

    li
      div: .bigger Bigger <span class="from-l">(24px)</span><span class="to-l">(20px)</span>
      div: p
        code &lt;h2&gt;&lt;/h2&gt;
        code .t2 .bigger

    li
      div: .big Big <span class="from-l">(20px)</span><span class="to-l">(16px)</span>
      div: p
        code &lt;h3&gt;&lt;/h3&gt;
        code .t3 .big

    li
      div: .normal Normal (16px)
      div: p
        code &lt;h4&gt;&lt;/h4&gt;
        code .t4 .normal

    li
      div: .small Small (14px)
      div: p
        code &lt;h5&gt;&lt;/h5&gt;
        code .t5 .small

    li
      div: .smaller Smaller (13px)
      div: p
        code &lt;h6&gt;&lt;/h6&gt;
        code .t6 .smaller

  p Los títulos tienen <code>line-height: 1.3</code> y los contenidos <code>line-height: 1.6</code>. Las clases <code>.t1 .t2 .t3 .t4 .t5 .t6</code> aplican los tamaños de fuente indicados arriba con la tipografía y altura de línea para títulos. Las clases <code>.biggest .bigger .big .normal .small .smaller</code> aplican los tamaños de fuente indicados arriba con la tipografía de contenido. La clase <code>.normal</code> puede omitirse ya que representa el tamaño predeterminado. Salvo que se use para sobreescribir otro tamaño.

  h2 Aplicar tamaños de fuente sin clases (Sass)
  p Para los tres tamaños mayores use los mixins <code>t1</code> <code>t2</code> <code>t3</code>. Para los tres tamaños menores use la funcion <code>fontSize($size)</code> donde el parámetro puede ser <code>normal | small | smaller</code>. La razon de separar los tamaños en dos grupos es que los más grandes (t1, t2, t3) se reducen en móviles para leerse mejor.

  h2 Blockquote
  blockquote El coronel destapó el tarro del café y comprobó que no había más de una cucharadita. Retiró la olla del fogón, vertió la mitad del agua en el piso de tierra, y con un cuchillo raspó el interior del tarro sobre la olla hasta cuando se desprendieron las últimas raspaduras del polvo de café revueltas con óxido de lata.

  h2 Enlaces
  p <a href="https://ed.team" target="_blank">EDteam</a> es la opción honesta y sin falsas promesas para aprender programación, diseño y emprendimiento en Latinoamerica y España. Visítanos en <a href="https://ed.team" target="_blank">ed.team</a>
