extends /pug/includes/template
append config
  -currentPage = 'top-bar'

block topbar
  .topbar.dark-color
    .ed-grid.m-grid-2
      p.s-mb-1.m-mb-0.s-center.m-left Características > Topbar
      a(href="#").button--cta.button--tiny.s-to-center.m-to-right Modelo de boton

block main
  :markdown-it(html)
    # Topbar

    La barra superior (topbar) se usa para mostrar breadcrumbs, filtros o botones con llamadas a la acción.

    Basta un elemento con la clase `topbar` y un `ed-grid` como hijo directo. Dentro puede agregar el contenido que desee usando EDgrid.

    ```html
    <!-- Estructura básica -->
    <div class="topbar">
      <div class="ed-grid">
        <!-- Contenido del topbar -->
      </div>
    </div>

    <!-- Ejemplo en esta página -->
    <div class="topbar">
      <div class="ed-grid m-grid-2">
        <p class="s-mb-1 m-mb-0 s-center m-left">Características > Topbar</p>
        <a class="button--cta button--tiny s-to-center m-to-right" href="#">Modelo de botón</div>
      </div>
    </div>
    ```

    Para cambiar de color al topbar agregue las clases `second-color`, `third-color`, `accent-color` o `dark-color`. Es azul por defecto.
