extends ../includes/template
append config
  -currentPage = 'Clase (video)'

mixin chat-message(message)
  .chat__message
    .chat__message-avatar
      img(src="https://cursos.ed.team/sites/default/files/styles/thumbnail/public/img/users/picture-1-1472485361.jpg?itok=ajWlX7yg" alt="nombre-de-usuario")
    .chat__mensage-content
      span.chat__message-user.small Alvaro Felipe
      span.chat__message-date.small 16:32
      p.chat__message-comment=message

block topbar
  article.video-live
    .video-live__container
      .video-live__video.video#live-video
        <iframe src="https://player.vimeo.com/video/258828489" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      .video-live__data
        .ed-container.full
          .ed-item.s-60
            h1.video-class--title Variables CSS
            p.video-class--course.small Curso CSS Desde Cero (2018)
      .video-live__chat#live-chat
        .chat.chat-container
          .chat__send
            input(placeholder="Escribe algo").chat__send-message
            input(type="image" src="img/send.svg").chat__send-submit
          .chat__messages
            +chat-message('Estamos onfaiel 游댠')
            +chat-message('Estamos onfaiel 游댠')
            +chat-message('Estamos onfaiel 游댠')
            +chat-message('Estamos onfaiel 游댠')
            +chat-message('Estamos onfaiel 游댠')
            +chat-message('Estamos onfaiel 游댠')
            +chat-message('Estamos onfaiel 游댠')
            +chat-message('Estamos onfaiel 游댠')
            +chat-message('Estamos onfaiel 游댠')
            +chat-message('Estamos onfaiel 游댠')
            +chat-message('Estamos onfaiel 游댠')
            +chat-message('Estamos onfaiel 游댠')
            +chat-message('Estamos onfaiel 游댠')
            +chat-message('Estamos onfaiel 游댠')

block main
  h1 Clase (video)
  p Para ofrecer la mejor experiencia de usuario al visualizar los videos de las clases, el video se ajusta al tama침o de la pantalla evitando desbordarse y aprovechando todo el espacio disponible.
  p Adem치s, en m칩viles en disposici칩n vertical el video est치 fijo en la parte superior.

  p El marcado es el siguiente:

  pre
    code.language-pug
      | article.video-class#video-class
      |   .video-class--container
      |     .video-class--element#video-element
      |       iframe // video
      |   footer.video-class--footer
      |     .ed-container
      |       .ed-item
      |         h1.video-class--title Titulo de la clase
      |         p.video-class--course.small Titulo del curso
