*,
*::before,
*:after {
  box-sizing: border-box;
}

.main-root {
  background  : var(--body-bg);
  z-index     : $z-tooltip;
  padding-top : 2rem;

  @include from("l") {
    padding-top : 4rem;
  }

}

body {
  margin     : 0;
  background : var(--body-bg);
}

strong,
em {
  font-weight : 700;
}

ul {
  padding-left : 0;
  margin-left  : 2rem;
}
