*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  margin : 0;
  background : $bodyBg;
  font-size : fontSize(small) !important; // conflicto no identificado
}


strong,
em {
  font-weight : 700;
}


p {
  margin-top : 0;
}
