// Variables de color CSS
:root {
  /* Usar nombres de color que comiencen con --color
     se conservan los anteriores nombres por compatibilidad
  */
  --color-first      : hsl(207, 84%, 52%);
  --color-first-alt  : hsl(210, 84%, 48%);
  --color-second     : hsl(192, 82%, 58%);
  --color-second-alt : hsl(195, 82%, 54%);
  --color-third      : hsl(6, 87%, 58%);
  --color-third-alt  : hsl(7, 87%, 55%);
  --color-fourth     : hsl(120, 60%, 58%);
  --color-fourth-alt : hsl(125, 60%, 53%);
  --color-accent     : hsl(43, 93%, 52%);
  --color-accent-alt : hsl(41, 93%, 50%);
  --color-light      : #F0F0F0;
  --color-dark       : hsl(207, 30%, 17%);
  --color-dark-alt   : hsl(208, 29%, 10%);
  --color-border     : hsl(180, 5%, 88%);
  --color-text       : hsl(206, 4%, 34%);
  --color-text-light : #BABDBF;
  --color-body-bg    : #FFF;

  --first-color      : var(--color-first);
  --first-color-alt  : var(--color-first-alt);
  --second-color     : var(--color-second);
  --second-color-alt : var(--color-second-alt);
  --third-color      : var(--color-third);
  --third-color-alt  : var(--color-third-alt);
  --fourth-color     : var(--color-fourth);
  --fourth-color-alt : var(--color-fourth-alt);
  --accent-color     : var(--color-accent);
  --accent-color-alt : var(--color-accent-alt);
  --light-color      : var(--color-light);
  --dark-color       : var(--color-dark);
  --dark-color-alt   : var(--color-dark-alt);
  --border-color     : var(--color-border);
  --text-color       : var(--color-text);
  --body-bg          : var(--color-body-bg);
}

// aplicar color

.color {
  color: var(--color)
}

.background {
  background-color: var(--color);
}

// Combinaciones de colores
.first-color, .color-first {
  --color     : var(--first-color);
  --color-alt : var(--first-color-alt);
}

.second-color, .color-second {
  --color            : var(--second-color);
  --color-alt        : var(--second-color-alt);
}

.third-color, .color-third {
  --color            : var(--third-color);
  --color-alt        : var(--third-color-alt);
}

.fourth-color, .color-fourth {
  --color            : var(--fourth-color);
  --color-alt        : var(--fourth-color-alt);
}

.accent-color, .color-accent {
  --color            : var(--accent-color);
  --color-alt        : var(--accent-color-alt);
}

.dark-color, .color-dark {
  --color            : var(--dark-color);
  --color-alt        : var(--dark-color-alt);
}

.white-color, .color-white {
  --color : #FFF;
}

.text-color, .color-text {
  --color: var(--text-color);
  --color-alt: var(--dark-color);
}

.light-color, .color-light {
  --color            : var(--light-color);
  --color-alt        : var(--border-color);
}

.first-color-alt {
  --color: var(--first-color-alt);
}

.second-color-alt {
  --color: var(--second-color-alt);
}

.third-color-alt {
  --color: var(--third-color-alt);
}

.fourth-color-alt {
  --color: var(--fourth-color-alt);
}

.accent-color-alt {
  --color: var(--accent-color-alt);
}

.dark-color-alt {
  --color: var(--dark-color-alt);
}

.border-color {
  --color: var(--border-color);
}

.text-color {
  --color: var(--text-color);
}

.body-bg {
  --color: var(--body-bg);

  &.color-card {
    [class*=ratio] {
      border: 1px solid var(--border-color);
      border-bottom: none;
    }
  }
}
