- var currentPage = 'Home'
- var topicsMenu = true
- var siteName = 'EDteam Style Guides'
- var description = 'Esta guia define el concepto visual, patrones de diseño y estructura para proyectos web en EDteam. Esta guia se encuentra en constante actualización.'
