-var headerClasses = currentPage === 'Clase (video)' ? 'main-header--dark' : 'main-header'

header(class=headerClasses)
  .ed-grid.cols-s-5.cols-l-4
    .span-s-4.span-l-1.cross-center
      a(href="/")
        if currentPage === 'Clase (video)'
          img(src="img/edteam-logo-alt.svg").main-logo
        else
          img(src="img/edteam-ux-logo.svg").main-logo
    .span-s-1.span-l-3.cross-center.main-end.header-links
      nav.main-menu#main-menu
        ul
          li: a(href="https://ed.team" target="_blank") Ir a EDteam
          li: a(href="https://cursos.ed.team" target="_blank") Ir a Plataforma de cursos
      .main-menu-toggle.to-l#main-menu-toggle
