header.main-header
  .ed-container
    .ed-item.s-80.l-25.cross-center
      a(href="/")
        img(src="img/edteam-ux-logo.svg").main-logo
    .ed-item.s-20.l-75.cross-center.main-end.header-links
      nav.main-menu#main-menu
        ul
          li: a(href="https://ed.team" target="_blank") Ir a EDteam
          li: a(href="https://cursos.ed.team" target="_blank") Ir a Plataforma de cursos
      .main-menu-toggle.to-l#main-menu-toggle
