header.main-header
  .ed-container
    .ed-item.s-80.l-25
      img(src="img/logo-edteam-ux.png").logo
    .ed-item.s-20.l-75.cross-center.main-end.header-links.from-l.small
      a(href="https://ed.team" target="_blank") Ir a EDteam
      a(href="https://cursos.ed.team" target="_blank") Ir a Plataforma de cursos


