mixin banner(img, title, description, clase, boton)
  div(class=`main-banner img-container`)
    .ed-grid.lg-grid-6
      .lg-cols-4.lg-x-2
        img(src=img).main-banner__img
        .main-banner__data.s-center
          p.s-mb-0.t2= title
          if (description)
            p= description
          if (boton)
            a(href="#").button Modelo de botón
