block config
  include config
include main-banner
doctype html
html(lang="es")
  head
    title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="description" content=description)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700")
    link(rel="stylesheet" href="css/prism.css?dark")
    link(rel="stylesheet" href="css/styles.css?21-nov-2")
    link(rel="shortcut icon" href="img/favicon.png")
  body(class=currentPage)
    include header
    block topbar
    block banner
    .ed-container.main-section
      aside.ed-item.l-25.main-sidebar.sidebar-first
        include topics-menu
      main.ed-item.l-75.main-main
        block main
    footer.main-footer
      .ed-container
        .ed-item
          p.small EDteam Style Guide por <a href="http://alvarofelipe.net" target="_blank">Álvaro Felipe</a>
    script(src="js/scripts.js?21-nov")
    script(src="js/prism.js?v2")
