block config
  include config
  include /mixins/pricing-table
include main-banner
doctype html
html(lang="es")
  head
    title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="description" content=description)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700")
    link(rel="stylesheet" href="css/prism.css?201803301710")
    link(rel="stylesheet" href="css/styles.css?201803301710")
    link(rel="shortcut icon" href="img/favicon.png")
  body(class=currentPage)
    include header
    block topbar
    block banner
    .main-root
      if(topicsMenu)
        .ed-grid.cols-l-4.main-section.l-section
          aside.span-l-1.main-sidebar.sidebar-first
            include topics-menu
          main.span-l-3.main-main
            block main
      else
        block main
    footer.main-footer
      .ed-grid
          p.small EDteam Style Guide por <a href="http://alvarofelipe.net" target="_blank">Álvaro Felipe</a>
    script(src="js/scripts.js?201803301710")
    script(src="js/prism.js?201803301710")
