block config
  include config
  include main-banner
  include /pug/mixins/pricing-table
  include /pug/mixins/meatballs
  include /pug/mixins/foro/atoms
  include /pug/mixins/foro/publication
  include /pug/mixins/foro/user
  include /pug/mixins/foro/featured-publication
  include /pug/mixins/foro/sidebar
  include /pug/mixins/foro/comment
  include /pug/mixins/foro/editor
  include /pug/mixins/foro/top-user
  include /pug/mixins/foro/pagination
doctype html
html(lang="es")
  head
    title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="description" content=description)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:700")
    link(rel="stylesheet" href="css/prism.css?201803301710")
    link(rel="stylesheet" href="css/styles.css?201803301710")
    link(rel="shortcut icon" href="/img/icon.png")
  body(class=currentPage)
    include header
    block topbar
    block banner
    main.main-root
      if(topicsMenu)
        .l-block
        .ed-grid.cols-l-4.main-section.l-big-section
          aside.span-l-1.main-sidebar.sidebar-first
            include topics-menu
          main.span-l-3.main-main
            block main
      else
        .l-block
        .l-big-section
          block main
    footer.main-footer
      .ed-grid
          p.small.s-mb-0 EDteam Style Guide por <a href="http://alvarofelipe.net" target="_blank">Álvaro Felipe</a>
    script(src="js/scripts.js?201803301710")
    script(src="js/prism.js?201803301710")
