#vertical-menu-toggle.vertical-menu-toggle.to-l(data-content="Filtros")
nav.vertical-menu#vertical-menu
  ul
    li: a(href="/") Inicio
    li: a(href="/tipografia.html") Tipografia
    li: a(href="/botones.html") Botones
    li: a(href="/tablas.html") Tablas
    li: a(href="/listas.html") Listas
    li: a(href="/formularios.html") Formularios
    li: a(href="/cards.html") Cards
    li: a(href="/post.html") Post
    li: a(href="/banner.html") Banner
    li: a(href="/topbar.html") Top bar
