#vertical-menu-toggle.vertical-menu-toggle.to-l(data-content="Filtros")
nav.vertical-menu#vertical-menu
  ul
    li: a(href="/") Inicio
    li: a(href="/tipografia.html") Tipografia
    li Botones
    li Formularios
    li Tablas
    li Listas1
