#vertical-menu-toggle.vertical-menu-toggle.to-l(data-content="Filtros")
nav.vertical-menu#vertical-menu
  ul
    li: a(href="/colores.html") Colores
    li: a(href="/tipografia.html") Tipografia
    li: a(href="/botones.html") Botones
    li: a(href="/cards.html") Cards
    li: a(href="/banner.html") Banner
    li: a(href="/topbar.html") Top bar
    li: a(href="/tablas.html") Tablas
    li: a(href="/listas.html") Listas
    li: a(href="/formularios.html") Formularios
    li: a(href="/modal.html") Modal
    li: a(href="/tabs.html") Tabs
    li: a(href="/iconos.html") Iconos
    //li: a(href="/playlist.html") Playlist
    li: a(href="/pricing-table.html") Tabla de precios
    li: a(href="/meatballs.html") Menú de tres puntos
    li: a(href="/scroll.html") Scroll
    //li: a(href="/video-class.html") Video
    //li: a(href="/video-live.html") Live
    //li: a(href="/curso.html") Curso
