mixin top-user
  a(href="#").top-user__item.circle
    span.top-user__score.s-cross-center.s-main-center.smaller(title="puntaje del usuario") 205
    img(src="https://ed.team/sites/default/files/styles/perfil_de_usuario_250x250_/public/pictures/2018-08/beto.jpg?itok=1iWHENQE", alt="Usuario destacado", title="Usuario destacado")