mixin user-foro
  .user-foro
    img(src="https://ed.team/sites/default/files/styles/perfil_de_usuario_250x250_/public/pictures/2018-08/beto.jpg?itok=1iWHENQE", alt="Foto del usuario").user-foro__image
    .user-foro__info
      a(href="#").user-foro__name.small Usuario de EDteam
      time.user-foro__date.smaller.s-mt-05 04/06/2018