.main-header {
  height : 64px;
  border-bottom : 1px solid $borderColor;
  display : flex;
  align-items: center;
  background : #fff;
  position : fixed;
  top : 0;
  width : 100%;
  left : 0;
}

body {
  margin-top : 64px;
}

.main-page {
  margin-top : calc(64px + 2em);

  @include from(l) {
    margin-top : calc(64px + 3em);
  }
}
.main-footer {
  margin-top : 3em;
}

section {
  margin-bottom : 2.5em;
}

.main-footer {
  background : $darkColor;
  color: #fff;
  padding : 1em 0;
}


.sidebar-first {
  margin-bottom : 1em;
}
