body {
  margin         : var(--header-height) 0 0 0;
  display        : flex;
  flex-direction : column;
  min-height     : calc(100vh - var(--header-height));
}

// ----- Layout de los comentarios y las respuestas dentro de una publicación ----- //
.section-comments,
.section-answer {
  display               : grid;
  grid-template-columns : 1fr;
  grid-gap              : 2rem;
}


// ----- Layout de los comentarios dentro de una publicación del foro ----- //
.section-comments {
  grid-column   : span 2;
  margin-bottom : 0;

  @include from(m) {
    grid-column : 2;
  }

}

// ----- Layout de las respuestas dentro de un comentario del foro ----- //
.section-answer {
  padding: 2rem 0 0 2rem;
}
