.card {
  display        : flex;
  flex-direction : column;
  height         : 100%;

  &__img img {
    display : block;
    width : 100%;
    height : auto;
  }

  &__content {
    padding          : 1em;
    border           : 1px solid $borderColor;
    border-top-width : 0;
    background       : #FFF;
    flex             : 1;
    display          : flex;
    flex-direction   : column;
  }

  &__title {
    font-weight : 700;
    margin-bottom : .2em;
    a {
      color           : inherit;
      text-decoration : none;
    }
  }

  &__body {
    font-size : fontSize(small);
  }

  &__footer {
    font-size   : fontSize(smaller);
    border-top  : 1px solid $borderColor;
    padding-top : 1em;
    display     : flex;
    align-items : center;
    margin-top  : auto;

    p:last-child {
      margin-bottom : 0;
    }

    [class*="button"] {
      margin : 0 0 0 auto;
    }
  }

  &__user-img {
    flex: none;
    img {
      width         : 2rem;
      height        : 2rem;
      display       : block;
      border-radius : 50%;
      margin-right  : .5em;
    }
  }

  &__user-name {
    line-height : 1;
  }

  &__tag {
    margin-left : auto;

    a {
      text-decoration : none;
    }
  }

  &__date {
    font-size : fontSize(smaller);
    opacity   : .8;
    p {
      margin : -1.2em 0 1em;
    }
  }

  &__price {
    //@include icon(cart,before,.3em);
    @include button;
    @include button-ghost;
    @include button-ghost-tertiary;
  }
}

.card--horizontal {
  display : flex;

  .card {
    &__img {
      flex : 0 0 50%;

      img {
        width      : 100%;
        height     : 100%;
        object-fit : cover;
      }

    }

    &__content {
      flex             : 0 0 50%;
      border-left      : none;
      border-top-width : 1px;
    }
  }
}

.card--user {
  //background : linear-gradient(#fff calc(60px + 1em), $borderColor calc(60px + 1em));
  border  : 1px solid $borderColor;
  padding : 1em;

  img {
    width         : 120px;
    height        : auto;
    max-width     : 90%;
    display       : block;
    margin        : auto;
    border-radius : 50%;
    border        : 4px solid #FFF;
  }

  .user__name {
    padding-top : .5em;
    text-align  : center;
    //font-size : fontSize(t3);
  }
}
