code {
  color   : $thirdColor;
  display : inline-block;
  border  : 1px solid $borderColor;
  padding : .1em .5em;
  margin  : 0 .5em;
  font-family : monospace;
}

pre code {
  display : block;
  border : none;
  margin-bottom : 2rem;
}

:not(pre) code {
  font-family : Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  background : rgba($borderColor,.5);
  font-size: fontSize(small);
  padding : 0 .3em;
  margin-right: .2rem;
  word-break: break-all;
}
