code {
  color   : $thirdColor;
  display : inline-block;
  border  : 1px solid $borderColor;
  padding : .1em .5em;
  margin  : 0 .5em;
  font-family : monospace;
}

pre code {
  display : block;
  background : $darkColor;
  color: $borderColor;
  border : none;
  padding : 1em;
  margin : 0 0 2em;
}
