form {
  background : #fff;
  padding : 1em 0;
  border : 1px solid $borderColor;
  border-radius : .3em;

  input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select, textarea {
    display : block;
    margin-bottom : 1.4rem;
    border : 1px solid $borderColor;
    background : #fff;
    width : 100%;
    line-height : 1.6;
    font-family : Lato, 'sans-serif'; // Fuerza a tomar la fuente por defecto
    font-size : fontSize(normal);
    color: $textColor;
    border-radius : .25em;
    padding : .3em .5em;
    &::placeholder {
      color: rgba($textColor,.75);
    }
  }

  textarea {
    min-height : 6em;
    padding : .5em;
  }

  label {
    color: $firstColor;
    display : block;
    font-size : fontSize(small);
    margin-bottom : .2em;
    + input::placeholder {
      display : none;
    }
  }

  [type="submit"] {
    margin : 0 !important;
  }

  .checkbox-container,
  .radio-container {
    margin-bottom : 1.4rem;

    label {
      display : table;
      color: $textColor;
    }
  }

  .checkbox-container {

  }

  .radio-container {
    label {

    }
  }

}
