.data-list {
  @include clearMenu;
  margin-top : 2em;
  margin-bottom : 2em;

  li {
    display : flex;
    justify-content: space-between;
    align-items: center;
    border-bottom : 1px solid $borderColor;
    padding : .5em 0;
  }
}
