.video-live {
  background: var(--dark-color);
  &__container {
    @include from(l) {
      display: grid;
      padding: 1rem;
      grid-gap: 1rem;
      grid-template-columns: 1fr minmax(320px,360px);
    }
  }

  &__video {
    &.video-fixed {
      position : fixed;
      z-index: var(--z-fixed);
      top: var(--header-height);
      left : 0;
    }
  }

  &__data {
    color: var(--border-color);
    padding: 1rem 0;

    @include from(l) {
      grid-column: 1;
      grid-row: 2;
    }
  }

  &__footer {
    background: var(--dark-color-alt)
  }
}


.chat {
  display : flex;
  flex-direction: column;
  height : 100%;
  color: var(--border-color);

  @include to(l) {
    padding : 0 1rem;
    max-height : 500px;
  }

  @include from(l) {
    grid-column: 2;
    grid-row: 1;
  }

  &__send {
    position : relative;
    margin-bottom : 1rem;

    &-message {
      width: 100%;
      display : block;
      padding: .75em 2.5em .75em .75em;
      line-height : 1.6;
      background: var(--dark-color-alt);
      border : none;
      color: var(--border-color);
      border-radius : .25rem;
    }

    &-submit {
      width: 1.5em;
      position : absolute;
      right: .75em;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__messages {
    background: var(--dark-color-alt);
    max-height : 100%;
    padding : 1rem;
    border-radius : .25rem;
    overflow-y : auto;
  }

  &__message {
    display : flex;
    border-bottom : 1px solid rgba($thirdColor,.3);
    padding-bottom : .75rem;
    margin-bottom : 1rem;

    &-avatar {
      width: 2rem;
      height: 2rem;
      margin-right : 1rem;
      img {
        border-radius : .25rem;
      }
    }
    
    &-user,
    &-date {
      vertical-align : super;
      margin-right : .5rem;
      opacity : .5;
    }

    &-user {
      font-weight : bold;
    }

    &-comment {
      margin : -.4em 0 0;
    }
  }
}
