.vertical-menu-toggle {
  background-size : 100% 34%;
  color: $firstColor;
  font-size : fontSize(small);
  @include to(l) {
    display : flex;
  }
  &::before {
    content: "";
    display : block;
    width : .5em;
    height : 1.2em;
    background-image: radial-gradient(circle, $textColor 2px, transparent 2px);
    background-size : 100% 34%;
    margin-right : .2em;
  }
  &::after {
    content: attr(data-content)
  }
}

.vertical-menu {
  border-right : 1px solid $borderColor;

  @include to(l) {
    max-height : 0;
    transition: max-height .5s;
    overflow : hidden;

    &.show {
      max-height : 1000px;
      margin-bottom : 1em;
    }

    .active::before {
      display : none;
    }
  }

  ul {
    @include clearMenu;
  }

  li {
    padding : .4em 0;
    border-bottom : none;
    font-size : fontSize(small);
    color: $textColor;
  }

  a {
    color: inherit;
    display : block;

    &.active {
      display : flex;
      justify-content: space-between;
      align-items: center;
      color: $thirdColor;

      &::after {
        content: '';
        display : block;
        width : 1rem;
        height : 1rem;
        background : url(../img/icon-right.svg) center right / contain no-repeat;
      }

      &:hover {
        text-decoration : none;
      }
    }
  }

  .active {
    border-bottom: 1px solid $borderColor;
    border-top: 1px solid $borderColor;
    margin-right: -1px;
    padding: .5em 0;
    border-right: 1px solid $bodyBg;

    &::after {
      background : url(../images/icon-right.svg) 100%/contain no-repeat !important;
      margin-right : 1rem;
    }
  }
}
